.dashboard{
    flex:5.5
}

.dashboardWrapper{
    padding: 20px;
}

.loadingWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }
  