.login {
  min-height: 100vh;
  background-color: #C51605;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.loginLeft {
  margin-top: 5%;
  width: 100%;
  height: 435px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/pet-story-f51e3.appspot.com/o/mainData%2FloginImage1.jpg?alt=media&token=4547e22e-e032-4eb9-82fa-84551789d27e);
  background-size: cover;
  background-position: center;
}



.loginRight {
  width: 100%;
  margin-top: 20px;
}

.loginLogo {
  font-size: 40px;
  font-weight: 800;
  color: #C51605;
  margin: 10px;
}

.loginDesc {
  font-size: 16px;
  margin: 10px;
}

.loginBox {
  width: 80%;
  max-width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px; /* add some margin to separate from the image */
}

.loginInput{
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.loginInput[type="password"] {
  padding-right: 40px; /* add padding to the right to make space for the icon */
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #6309de;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginButton:focus{
  outline: none;
}

.loginButton:disabled{
  cursor: not-allowed;
}

.loginForgot{
    text-align: center;
    color: #6309DE;
}

.loginRegisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #6309DE;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.passwordContainer {
  position: relative;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.divider-line {
  flex-grow: 1;
  border: none;
  height: 1px;
  background-color: #ccc;
}

.divider-text {
  margin: 0 10px;
  color: #777;
}