.feed{
    flex:5.5
}

.feedWrapper{
    padding: 20px;
}

.loadingWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }
  
  .floating-chip {
    position: fixed;
    top: 0%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  
  